{% extends "layout.html" %}
<head> 
    <title> Add Customer </title>
</head>
{% block body %}
<div class="form">
    <form method="POST", action="">
        {{ form.hidden_tag() }}
       <p>{{ form.firstName.label }} {{ form.firstName }}</p>
        <br>
        <p>{{ form.lastName.label }} {{ form.lastName }}</p>
        <br>
        <p>{{ form.username.label }} {{ form.username}}</p>
        <br>
        <p>{{ form.password.label }} {{ form.password}}</p>
        <br>
        <p>{{ form.primeMembership.label }} {{ form.primeMembership}}</p>
        <br>
        {{ form.submit }}
        <br>
        <p>{{error}}</p>
    </form>
</div>

{% endblock body %}