{% extends "layout.html" %}
{% block body %}
<br>
{% for membership in memberships %}
<p>Customer: {{ membership.customer }} </p>
<p>Active: {{ membership.active }}</p>
<form action="{{ url_for('delete', id=membership.id) }}">
<button type="Submit">Delete Customer</button>
</form>
<form action="{{ url_for('active', id=membership.id) }}">
<button type="Submit">Active Customer</button>
</form>
<form action="{{ url_for('inactive', id=membership.id) }}">
<button type="Submit">Inactive Customer</button>
</form>
<form action="{{ url_for('update', id=membership.id) }}">
<button type="Submit">Update Customer</button>
</form>
{% endfor %}
{% endblock body %}