{% extends "layout.html" %}
{% block body %}
<br>
{% for meal in meals %}
<p>Food: {{ meal.food }} </p>
<p>Completed: {{ meal.completed }}</p>
<form action="{{ url_for('delete', id=meal.id) }}">
<button type="Submit">Delete Food</button>
</form>
<form action="{{ url_for('complete', id=meal.id) }}">
<button type="Submit">Complete Food</button>
</form>
<form action="{{ url_for('incomplete', id=meal.id) }}">
<button type="Submit">Incomplete Food</button>
</form>
<form action="{{ url_for('update', id=meal.id) }}">
<button type="Submit">Update Food</button>
</form>
{% endfor %}
{% endblock body %}